.pokemon {
    width: 100%;
    max-width: 350px;
    border-radius: 0.8em;
    overflow: hidden;
    border: 0.5em solid rgb(180, 180, 180);
    transition:  transform 100ms ease;
}

.pokemon:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.pokemon__header {
    background-color: rgb(180, 180, 180);
    height: 180px;
    position: relative;
}

.pokemon__sprite {
    width: 60%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.pokemon__body {
    padding: 1em;
    padding-top: 70px;
}

.pokemon__name {
    text-align: center;
    text-transform: capitalize;
}

.pokemon__types {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.pokemon__type-specific {
    text-transform: capitalize;
}

.pokemon__type-specific:nth-child(2) {
    position: relative;
}

.pokemon__type-specific:nth-child(2)::before {
    content: '/';
    position: absolute;
    left: -1em;

}

.pokemon__stats {
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 0.6rem;
    row-gap: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.pokemon__stats-specific {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.pokemon__stats-label {
    font-weight: 300;
    text-transform: uppercase;
}

.pokemon__stats-value {
    font-weight: 600;
    font-size: 0.8rem;
}